<%- include("../main/htmlStart") %>
<form method="POST" action="/admin/create">
    <input type="text" name="name" />
    <input type="email" name="email" />
    <input type="password" name="password" />
    <input type="submit">
</form>
<%- include("../main/htmlEnd") %>
