<%- include("../main/htmlStart") %>
<form method="POST" action="/admin/login">
  <label>Email</label>
  <input type="email" name="email" />
  <label>Password</label>
  <input type="password" name="password" />
  <input type="submit" />
</form>
<%- include("../main/htmlEnd") %>
