<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="description" content="Blog system test">
      <meta name="viewport" content="width=device-width;,user-scalable=no">
  </head>
  <body>
      <% const currentPage = page %>
      <% const currentTitle = title ? title : ""%>
      <% const currentContent = content ? content : ""%>
      <% if(currentPage == "postCreate") {%>
        <%- include("posts/create") %>
      <%} else if(currentPage == "postShow"){%>
        <%- include("posts/read",{ title: currentTitle, content: currentContent })%>
      <% }%>
  </body>
</html>