<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="description" content="Blog system test" />
  <meta name="viewport" content="width=device-width;,user-scalable=no" />
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div class="blog-logo">
    <h1>Blog system</h1>
    <a href="/admin/login">Login</a>
    <a href="/posts/create">Create post</a>
  </div>