<%- include("../main/htmlStart") %>
<form method="POST" action="/posts/create">
  <input type="text" name="title" />
  <input type="text" name="content" />
  <input type="submit" />
</form>
<%- include("../main/htmlEnd") %>
